#order_ticket_tickets
{
     background-color: lightgreen;  
}

#llTickets
{
     background-color: rgb(199, 199, 230);  
}



.final
{
  color: rgb(255, 81, 0);
}

.title 
{
  text-align: center;
}


 /**
* The CSS shown here will not be introduced in the Quickstart guide, but shows
* how you can use CSS to style your Element's container.
*/
.StripeElement {    
box-sizing: border-box;

height: 40px;

padding: 10px 12px;
  
border: 1px solid transparent;
border-radius: 4px;
background-color: white;
  
box-shadow: 0 1px 3px 0 #e6ebf1;
-webkit-transition: box-shadow 150ms ease;
transition: box-shadow 150ms ease;
}
  
.StripeElement--focus {
box-shadow: 0 1px 3px 0 #cfd7df;
}
  
.StripeElement--invalid {
border-color: #fa755a;
}
  
.StripeElement--webkit-autofill {  
background-color: #fefde5 !important;
}

/*

p{
  color:blue;
}

[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}



}
.flashMessage 
{
  text-align: center;
}
  
*/