<!DOCTYPE html>
<html>
    <head>
    	<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        <title>{% block title %}Billets Musée du Louvre{% endblock %}</title>
       
                
        <link rel="stylesheet"
        href="https://bootswatch.com/4/simplex/bootstrap.min.css">

        {% block stylesheets %} 
       
        <link rel="stylesheet"
        href="css/style.css">
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        {% endblock %}
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path ('home') }}">Billets Musée du Louvre</a>
            <button class="navbar-toggler" id="navbarToggleButton" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path ('select') }}">Acheter des billets<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path ('contact') }}">Contact</a>
                    </li>   
                </ul>
                <br/><br/>	

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Recherche">            
                </form>

            </div>
        </nav>

        
        <div class="container">        

        {% block body %}  
        {% endblock %}
 
        {% block javascripts %}
        {% endblock %}

        <script>
            $('#navbarToggleButton').click(function() {
                $('#navbarColor02').toggle();
            })
        </script>
    </body>
</html>
