{% extends 'base.html.twig' %}

{% block body %}

    <br> 
    <h1> Finalisation! </h1>
    <p> page finale </p>
    <br>



    <button  type="submit" class="btn btn-primary">Sélectionner</button>
    <br><br><br>


{% endblock %}


