{% extends 'base.html.twig' %}

{% block body %}
        <br> 
 
        {% for message in app.flashes('success') %}
            <div class="btn btn-success">
            {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="btn btn-warning">
            {{ message }}
            </div>
        {% endfor %}

            <br> <br> 
            
            <h1> MERCI POUR VOTRE ACHAT! </h1>

            <br> <br><h5 class="final"> Nous confirmons le paiement de  votre commande.<br><br>
  
            Nous venons de vous envoyer vos billets par courrier électronique.</h5>  <br> <br>
            <h5> Vérifiez votre boite mail. </h5><br> <br>
            <h3> Bonne visite! </h3>
            <br> <br>

{% endblock %}


